.arrow-down0 {
  animation-delay: 9s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: showEffect;
  animation-timing-function: ease-in;
  display: block;
  visibility: visible;
}

.subtitle-all {
  animation-delay: 8s;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: showEffect;
  animation-timing-function: ease-in;
  display: block;
  visibility: visible;
}

@keyframes showEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.alberto {
  height: 260px;
  margin: 40px auto 60px;
  position: relative;
  width: 260px;

  .st0 {
    fill: $mine-shaft !important;
    fill-opacity: 1;
  }

  path {
    animation: dash 3s linear, alberto-color 3s;
    stroke-dasharray: 1700;
    stroke-dashoffset: 0;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 1700;
    }

    to {
      stroke-dashoffset: 0;
    }
  }

  circle {
    animation: dash-eyes 3s linear, alberto-color 3s;
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
  }

  @keyframes dash-eyes {
    from {
      stroke-dashoffset: 500;
    }

    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes alberto-color {
    0% {
      fill-opacity: 0;
    }

    80% {
      fill-opacity: 0;
    }

    to {
      fill-opacity: 1;
    }
  }

  .hat svg {
    animation: shake-hat 15s 10s infinite;
    transform-origin: 50% 150%;
  }

  @keyframes shake-hat {
    0% {
      transform: rotate(0deg);
    }

    2% {
      transform: rotate(-7deg);
    }

    6% {
      transform: rotate(0deg);
    }
  }

  .moustache svg {
    animation: shake-moustache 10s 5s infinite;
  }

  @keyframes shake-moustache {
    0% {
      transform: rotate(0deg);
    }

    2% {
      transform: rotate(7deg);
    }

    6% {
      transform: rotate(-5deg);
    }

    10% {
      transform: rotate(0deg);
    }
  }

  .right-eye {
    animation: wink-eyes 5s 7s infinite;
    transform-origin: center;
  }

  @keyframes wink-eyes {
    0% {
      transform: scaleY(1);
    }

    5% {
      transform: scaleY(.2);
    }

    10% {
      transform: scaleY(1);
    }
  }
}

.prompt {
	animation-delay: 0.2s;
	animation-duration: 0.1s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-name: hidePrompt;
	animation-timing-function: ease-in;
	display: inline-block;
	visibility: visible;
}

@keyframes hidePrompt {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
