@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width: 100%;
}

.arrow {
  margin: 40px auto;
  width: 50px;
}

.title {
  color: $mine-shaft;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.introduction {
  font-size: 36px;
  font-weight: 500;
  margin: 0 auto;
  max-width: 650px;
  position: relative;
  text-align: center;
}

.subtitle {
  color: $mine-shaft;
  display: inline;
  font-size: 22px;
  font-weight: 400;
  line-height: 56px;
}

.subtitle-all {
  margin-top: 20px;
}

.email-input {
  border-color: $mine-shaft;
  border-style: none none solid;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 400;
  height: 34px;
  width: 260px;
}

.email-input:focus {
  color: $mine-shaft;
  outline: none;
}

.form-input {
  display: inline-block;
}

::placeholder {
  color: $grey;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 300;
  height: 40px;
  width: 200px;
}
