.hat svg {
  height: 45%;
  left: 10%;
  position: absolute;
  width: 80%;
}

.eyes svg {
  height: 6%;
  left: 32%;
  position: absolute;
  top: 57%;
  width: 36%;
}

.glasses svg {
  height: 47%;
  left: 51%;
  position: absolute;
  top: 46%;
  width: 29%;
}

.moustache svg {
  height: 25%;
  left: 11%;
  position: absolute;
  top: 76%;
  width: 78%;
}
