doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    script(type='text/javascript', src='jquery/jquery-3.1.1.js')
    
  body
    .alberto
      include includes/alberto.pug
    .introduction
      #typedtext
      .subtitle-all
        .subtitle.
          I’m here is to help you organise your work life and make it fun.
        .subtitle &nbsp; Please &nbsp;
        form.form-input
          input.email-input(type='text', placeholder="type your e-mail")
        .subtitle &nbsp; to
        .button-cta get started
    .arrow
      include includes/arrow-down.pug
      script(type='text/javascript', src='app/all.js')
