doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
  body
    .alberto
      include includes/alberto.pug
    .introduction
      .title Hi, my name is Alberto!
      .title I’m concierge for your team.
      .subtitle-all
        .subtitle I’m here is to help you organise your work life and make it fun.
        .subtitle &nbsp; Please &nbsp;
        form.form-input
          input.email-input(type='text', placeholder="Type your e-mail")
        .subtitle &nbsp; to
        .button-cta Get started
    .arrow
      include includes/arrow-down.pug
