doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
  body
    .alberto
      include includes/alberto.pug
    .introduction
      .title.
        Hi, my name is Alberto and I’m concierge for your team.
      .subtitle.
        I’m here is to help you organise your work life and make it fun.
        Would you like to
      .link-cta
        .bold-link &nbsp; give a try &nbsp;
        .line-blue
          include includes/line-blue.pug
      .subtitle to my services?
