svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 378.8 486.65')
  defs
    style.
      .alberto-logo{fill:#3d3d3d;}
  title Zasób 5
  g#Warstwa_2(data-name='Warstwa 2')
    g#landing
      path.alberto-logo(d='M299,401.38c-37.82-29-57.58-28.39-57.58-28.39a54.1,54.1,0,0,0-52.05,21.11A54.1,54.1,0,0,0,137.35,373s-19.76-.57-57.58,28.39-63.42,11.88-76.33,2.69c0,0,4.53,47.62,64.85,71.49,51.72,20.46,89.36,8.78,108.3-4.5l.83-.59.68-.5c.51-.38,1-.76,1.51-1.15l.22-.18c.52-.42,1-.85,1.55-1.29l.6-.54a54.43,54.43,0,0,0,7.41-8.11,54.43,54.43,0,0,0,7.41,8.11l.6.54c.51.44,1,.87,1.55,1.29l.22.18c.49.39,1,.78,1.51,1.15l.68.5.83.59c18.95,13.28,56.59,25,108.3,4.5,60.32-23.87,64.85-71.49,64.85-71.49C362.46,413.26,336.86,430.34,299,401.38Z')
      path.alberto-logo(d='M375.19,150a20.86,20.86,0,0,0-28.87-5.61h0c-.19.12-10.13,6.61-30.12,13.75V84.65A84.89,84.89,0,0,0,231.56,0H149.63A84.89,84.89,0,0,0,65,84.65v70.17c-9.87-3.59-17.69-7-23.25-9.66-3.56-1.69-6.2-3.08-7.88-4-.84-.46-1.44-.8-1.8-1l-.35-.21,0,0h0A20.86,20.86,0,0,0,10,175.59h0c1.11.67,18.8,11.33,50.59,21.88s77.7,20.95,135,20.94c57,0,99.94-9.36,128.84-19s43.84-19.52,45.22-20.46A20.86,20.86,0,0,0,375.19,150Z')
      path.alberto-logo(d='M330.25,290.13a65.82,65.82,0,1,0-10.43,35.53v119.2a5.22,5.22,0,1,0,10.43,0V290.13Zm-26.65,39.15a55.36,55.36,0,1,1,16.21-39.14A55.16,55.16,0,0,1,303.61,329.28Z')
      circle.cls-1(cx='115.41', cy='292.36', r='10.88')
      circle.cls-1(cx='264.46', cy='292.36', r='10.88')
