svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='135.6px', height='229.7px', viewbox='0 0 135.6 229.7', style='enable-background:new 0 0 135.6 229.7;', xml:space='preserve')
  style(type='text/css').
    .st0{fill:none;stroke:#3D3D3D;stroke-width:4;stroke-miterlimit:10;}
  defs
  path.st0(d='M133.6,67.8C133.6,31.5,104.1,2,67.8,2C31.5,2,2,31.5,2,67.8c0,36.3,29.5,65.8,65.8,65.8\
  c23.2,0,43.7-12.1,55.4-30.3v119.2c0,2.9,2.3,5.2,5.2,5.2c2.9,0,5.2-2.3,5.2-5.2L133.6,67.8C133.6,67.8,133.6,67.8,133.6,67.8z\
  M106.9,106.9c-10,10-23.8,16.2-39.1,16.2c-15.3,0-29.1-6.2-39.1-16.2c-10-10-16.2-23.8-16.2-39.1c0-15.3,6.2-29.1,16.2-39.1\
  c10-10,23.8-16.2,39.1-16.2c15.3,0,29.1,6.2,39.1,16.2c10,10,16.2,23.8,16.2,39.1C123.1,83.1,117,96.9,106.9,106.9z')
