svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='376.7px', height='118.4px', viewbox='0 0 376.7 118.4', style='enable-background:new 0 0 376.7 118.4;', xml:space='preserve')
  style(type='text/css').
    .st0{fill:none;stroke:#3D3D3D;stroke-width:4;stroke-miterlimit:10;}
  defs
  path.st0(d='M298,31.1c-37.8-29-57.6-28.4-57.6-28.4c-20.6-3.3-40.4,5.5-52.1,21.1C176.7,8.2,156.9-0.6,136.3,2.7\
  c0,0-19.8-0.6-57.6,28.4C40.9,60,15.3,43,2.4,33.8c0,0,4.5,47.6,64.9,71.5c51.7,20.5,89.4,8.8,108.3-4.5c0.3-0.2,0.6-0.4,0.8-0.6\
  l0.7-0.5c0.5-0.4,1-0.8,1.5-1.2l0.2-0.2c0.5-0.4,1-0.8,1.6-1.3l0.6-0.5c2.7-2.5,5.2-5.2,7.4-8.1c2.2,2.9,4.7,5.7,7.4,8.1l0.6,0.5\
  c0.5,0.4,1,0.9,1.6,1.3l0.2,0.2c0.5,0.4,1,0.8,1.5,1.2l0.7,0.5c0.3,0.2,0.6,0.4,0.8,0.6c18.9,13.3,56.6,25,108.3,4.5\
  c60.3-23.9,64.9-71.5,64.9-71.5C361.4,43,335.8,60,298,31.1z')
